@model IEnumerable<AirPlane.Domain.Entities.Aircraft>

@{
    ViewBag.Title = "Admin: All Airplanes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default" >
    <div class="panel-heading"> 
         <h3> All AirPlanes </h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right"> ID</th>
                <th >Name</th>
                <th class="text-right">Price</th>
                <th class="text-center">Actions</th>
            </tr>
            @foreach( var item in Model)
            {
                <tr>
                    <td class="text-right">@item.AircraftID</td>
                    <td>@Html.ActionLink(item.Name, "Edit",new { item.AircraftID })</td>
                    <td class="text-right">@item.EngineCnt.ToString("c")</td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "Admin"))
                        {
                            @Html.Hidden("ProductID", item.AircraftID)
                            <input type="submit"
                                   class="btn btn-default btn-xs"
                                   value="Delete" />
                        }
                    </td>
                </tr>
            }
        </table>
        <div class="panel-footer">
            @Html.ActionLink("Add a new product","Create",null, new { @class = "btn btn-default"})
        </div>
    </div>

</div>



  
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineCnt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURl)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngineCnt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageURl)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { AircraftID = item.AircraftID }) |
                    @Html.ActionLink("Details", "Details", new { AircraftID = item.AircraftID }) |
                    @Html.ActionLink("Delete", "Delete", new { AircraftID = item.AircraftID })
                </td>
            </tr>
        }

    </table>
